.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    padding: 1rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }

  img {
    border-radius: 50%;
    width: 28%;
    animation: spin linear 5s infinite forwards;
    animation-play-state: paused;
    &.spinning {
      animation-play-state: running;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 900px) {
  .song-container {
    img {
      width: 50%;
    }
  }
}
@media screen and (max-width: 720px) {
  .song-container {
    img {
      width: 65%;
    }
  }
}

@media screen and (max-width: 400px) {
  .song-container {
    img {
      width: 80%;
    }
  }
}
